#home {
    padding-bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

	#module-home_today {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: auto;
		padding: 5%;
		h1 {
			font-size: 5.8vw;
		    color: #1e1e1e;
		    margin: 0;
		}
		#module-location {
			position: absolute;
		    top: 36%;
		    right: 0%;
		}
		.headline {
			margin-bottom: 30px;
		}
	}

	#module-location {
		i {
		    width: 17%;
		    height: 0;
		    left: -25%;
		    top: 5%;
		    padding-bottom: 17%;
		    position: absolute;
		}
		.city {
			font-size: 3vw;
		}
	}

	.post {
		width: 100%;
		margin: 10% 0;
		&:nth-child(1) {
			margin-top:0;
		}
		.featured_image {
			margin-bottom:-5px;
			img {
				width: 100%;
			}
		}
		.copy {
			padding:3% 0 4%;
			background:#f7f7f7;
			color:#262626;
			.left {
				border-right: 1px solid #7b7b7b;
				width: 16%;
				text-align: center;
			}
			.right {
				width: 81%;
			}
			h2 {
				font-size: 5.5vw;
	    		line-height: 5.5vw;
			}
			h3 {
				font-size: 3.5vw;
	    		line-height: 5.5vw;
			}
			h4 {
				font-size: 4.4vw;
	   			line-height: 5.3vw;
			}
			p {
			    font-size: 3.2vw;
	    		margin-top: 1vw;
			}
		}
	}
}		    		