*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	font-family: 'rodina', sans-serif;
	font-weight: 100;
}

html, body {
	width: 100%;
	height: 100%;
}

// colors
$pink: #9c2a43;
$blue: #1d7cae;

div, header, footer {
	max-width: 640px;
}

img {
	max-width: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.row {
	width: 100%;
	clear: both;
	overflow: hidden;
	position: relative;
}

#main-container {
	width: 100%;
	height: 100%;
}

.screen {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

#main {
	width: 100%;
    overflow: hidden;
    top: 50px;
    height: calc(100% - 105px);
    position: absolute;
    opacity: 0;
}
.page {
	width: 100%;
    top: 0;
    left: 0;
    padding-bottom: 15%;
    height: 100%;
    position: absolute;
}

#app {
	width: 100%;
	height: 100%;
}

button, input {
    outline: none;
}

#unavaliable {
	padding: 20px 40px;
	color:$blue;
	background:#fff;
	border: 2px solid $blue;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	z-index: 40;
	text-align:center;
	font-size: 6vw;
	width: 90%;
	display: none;
}

