@font-face {
	font-family: rodina;
	src: url('../fonts/rodina-bold.eot');
	src: url('../fonts/rodina-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/rodina-bold.woff2') format('woff2'),
		url('../fonts/rodina-bold.woff') format('woff'),
		url('../fonts/rodina-bold.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}