i.home {
	background-image: url(../img/icons/home.svg);
	background-size: 100% auto;
	position: absolute;
}

i.search {
	background-image: url(../img/icons/search.svg);
	background-size: 100% auto;
	position: absolute;
}

i.tickets {
	background-image: url(../img/icons/ticket_icon.png);
	background-size: 100% auto;
	position: absolute;
}

i.settings {
	background-image: url(../img/icons/settings.png);
	background-size: 100% auto;
	position: absolute;
}

i.location {
	background-image: url(../img/icons/location.svg);
	background-size: 100% auto;
	position: absolute;
}